body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

/*Header Section*/
header {
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 3;
}

.logo img {
  display: flex;
  margin-left: 10px;
  height: 50px;
}

header nav {
  text-align: right;
}

header nav span a {
  display: inline-flex;
  justify-content: flex-end;
  margin-right: 0px;
  color: seashell;
  padding: 10px;
}
