body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto 78px auto;
  padding-top: 70px;
}

h2 {
  font-size: 35px;
  padding: 15px;
}

/*Header Section*/
header {
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid seashell;
  z-index: 10;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  display: flex;
  margin-left: 10px;
  height: 50px;
}

header nav span a {
  display: inline-flex;
  color: seashell;
  padding: 10px;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero img {
  height: 700px;
  width: 1200px;
}

.hero-text {
  display: block;
  position: absolute;
  text-align: center;
  background-color: black;
  z-index: 2;
  width: 1200px;
  height: 110px;
}

/* Tea of The Month */
.featured-tea {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.featured-text {
  display: block;
  width: 100%;
}

.tea-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.tea img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;
}

.tea span {
  margin: 30px;
}

/* Locations */
.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  height: 500px;
  background-image: url("./images/img-locations-background.jpg");
  background-size: cover;
}

.locations-text {
  display: flex;
  text-align: center;
}

.location-options {
  display: inline-flex;
  margin-top: 15px;
}

.local {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  height: 300px;
  z-index: 4;
  margin: auto 40px;
  justify-content: center;
  opacity: 1;
}

.local p {
  padding-top: 40px;
}

.local h3 {
  font-size: 25px;
  font-weight: bold;
}

/* Contact Info */
.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  height: 200px;
  justify-content: space-between;
}

/* Copywrite */
.copywrite {
  margin-left: 20px;
  font-size: 15px;
}
